#content {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h2 {
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    width: 70%;
}